.button {
    background-color: azure;
    font-size: 18px;
    margin-top: 20px;
    padding: 12px;
}

canvas {
    border:5px dotted gray;
    background-color:rgb(228, 241, 245);
    border-radius: 2%;
    margin-top: 20px;
    border-radius: 2%;
}
